{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Electricity Tracker{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            Electricity Tracker
        </a>
    </div>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-dark text-white text-center py-3 mt-5">
    <p class="mb-0">Yangon Electricity Tracker</p>
</footer>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}
{% endblock %}

</body>
</html>